In [1]:
import tabula
import pandas as pd

### Read in pdf files with tables

In [2]:
# Encoding was necessary to get this to work on Windows
mmr2_1 = tabula.read_pdf("data/page38.pdf", encoding='cp1252')
mmr2_2 = tabula.read_pdf("data/page39.pdf", encoding='cp1252')

In [3]:
mmr2_1.head()

,Unnamed: 0,TOTAL,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,DTP 4+,POLIO 3+,MMR 2,HEP B 3+
1,NaN,STUDENTS,NaN,NaN,NaN,NaN
2,NaN,NUMBER,NUMBER PERCENT,NUMBER PERCENT,NUMBER PERCENT,NUMBER PERCENT
3,STATE TOTAL,"555,735","533,741 96.0%","536,419 96.5%","536,373 96.5%","541,074 97.4%"
4,COUNTY,NaN,NaN,NaN,NaN,NaN

In [4]:
mmr2_2.head()

,Unnamed: 0,TOTAL,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,DTP 4+,POLIO 3+,MMR 2,HEP B 3+
1,NaN,STUDENTS,NaN,NaN,NaN,NaN
2,NaN,NUMBER,NUMBER PERCENT,NUMBER PERCENT,NUMBER PERCENT,NUMBER PERCENT
3,STATE TOTAL,"555,735","533,741 96.0%","536,419 96.5%","536,373 96.5%","541,074 97.4%"
4,COUNTY,NaN,NaN,NaN,NaN,NaN

### Little bit of clean up on mmr2_1 data frame

In [5]:
# Drop any rows where Unnamed: 0 has an Nan
mmr2_1.dropna(subset=['Unnamed: 0'], inplace=True) 
        
# Create a data frame of just the 1st and 5th columns
mmr2_1 = mmr2_1[['Unnamed: 0', 'Unnamed: 4']]
        
# Data frame where first two rows are dropped since we don't need them 
mmr2_1 = mmr2_1.iloc[2:]
        
# Rename columns
mmr2_1.columns = ['county', 'mmr2_pct']
        
# Capitalize all county names
mmr2_1['county'] = mmr2_1['county'].str.title()
        
# Pull out vaccination rate from mmr2_pct column
vac_rate = []
        
for mm2_pct in mmr2_1['mmr2_pct']: 
    
    str(vac_rate.append(mm2_pct[-5:]))
    
mmr2_1.reset_index()
mmr2_1['mmr2_pct'] = vac_rate

In [6]:
mmr2_1.head()

      county mmr2_pct
5    Alameda    98.1%
6     Alpine      --*
7     Amador    95.7%
8      Butte    96.3%
9  Calaveras    91.8%

### Little bit of clean up on mmr2_2 data frame

In [7]:
# Drop any rows where Unnamed: 0 has an Nan
mmr2_2.dropna(subset=['Unnamed: 0'], inplace=True) 
        
# Create a data frame of just the 1st and 5th columns
mmr2_2 = mmr2_2[['Unnamed: 0', 'Unnamed: 4']]
        
# Data frame where first two rows are dropped since we don't need them 
mmr2_2 = mmr2_2.iloc[2:]
        
# Rename columns
mmr2_2.columns = ['county', 'mmr2_pct']
        
# Capitalize all county names
mmr2_2['county'] = mmr2_2['county'].str.title()
        
# Pull out vaccination rate from mmr2_pct column
vac_rate = []
        
for mm2_pct in mmr2_2['mmr2_pct']: 
    
    vac_rate.append(mm2_pct[-5:])
    
mmr2_2.reset_index()
mmr2_2['mmr2_pct'] = vac_rate

In [8]:
mmr2_2.head()

       county mmr2_pct
5      Orange    97.2%
6      Placer    94.4%
7      Plumas    90.0%
8   Riverside    97.8%
9  Sacramento    95.8%

### Merge the two data frames together

In [9]:
# Concatenate dataframes since columns are same
dataframes = [mmr2_1, mmr2_2]

merge = pd.concat(dataframes)

In [10]:
merge.head()

      county mmr2_pct
5    Alameda    98.1%
6     Alpine      --*
7     Amador    95.7%
8      Butte    96.3%
9  Calaveras    91.8%

### Remove % signs

In [11]:
merge['mmr2_pct']= merge['mmr2_pct'].str.replace('%','')

### Change --* to zero

In [12]:
merge['mmr2_pct'] = merge['mmr2_pct'].str.replace('--*','0')

### Get rid of * that remains

In [13]:
merge['mmr2_pct'] = merge['mmr2_pct'].str.replace('*','')

### Change mmr2_pct column to float instead of string

In [14]:
merge['mmr2_pct'] = merge['mmr2_pct'].astype(float)

### Output to csv

In [17]:
merge.to_csv('./data/output/mmr2_vax_rates.csv', index=False)